<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.zerostudio.rajobosapp" version="0.8.0">
  <name>Dj Rajobos</name>
  <description>Escucha mis sesiones y temas en cualquier lugar.</description>
  <author href="http://zerostudio.com" email="support@zerostudio.com">Encane Team</author>
  <content src="index.html"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="AndroidLaunchMode" value="singleTask"/>
  <plugin name="cordova-plugin-network-information" spec="1.2.1" />
  <plugin name="com.indigoway.cordova.whitelist.whitelistplugin" spec="1.1.1" source="pgb" />
  <plugin spec="https://github.com/homerours/cordova-music-controls-plugin" source="git" />
  <plugin name="br.com.paveisitemas.splashscreen" spec="2.1.1" source="pgb" />
  <plugin name="cordova-plugin-crosswalk-webview" source="npm"/>
  <plugin name="com.phonegap.plugin.statusbar" spec="1.1.0" source="pgb" />
  <plugin name="cordova-plugin-dialogs" source="npm" />
  <preference name="StatusBarBackgroundColor" value="#2B2D2D" />
  <preference name="BackgroundColor" value="#333333"  />
  <preference name="StatusBarStyle" value="lightcontent" />  
  <icon src="www/res/icon/android/drawable-xxxhdpi-icon.png"/>
  <access origin="*"/>
  <allow-intent href="file://*/*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>