.ui-page {
	background-image:url("images/bg.png")!important;
    background-attachment:fixed;
	color: #fff!important;
    text-shadow: 0 1px 0 #005599!important;
}
.ui-btn {
	color: #fff!important;
    text-shadow: 0 1px 0 #005599!important;
	border-color:#333!important;
}
div[data-role="header"] {
	background-color:#2b2d2d!important;
	border-radius:0px!important;
}
div[data-role="header"] img {
	max-width:180px;
}
.header {
	border-color:#333!important;
}
.header .ui-btn {
	background-color:#2b2d2d!important;
	border-color:#333!important;
	color:#FFF!important;
	text-shadow: 0 1px 0 #005599!important;
}
.header .ui-btn-active {
	background-color: #3388cc!important;
    border-color: #3388cc!important;
    color: #fff!important;
    text-shadow: 0 1px 0 #005599!important;
}
#sesiones .ui-btn {
	background:none!important;
	background-position:cover!important;
}